@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-container {
  width: 100%;
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.animate-throw-hat {
  max-width: 100px; /* Adjust to desired size */
  height: auto;
  animation: throwHat 2.5s ease-in-out forwards;
  margin-bottom: 0.75rem; /* Spacing below the hat */
}

@keyframes throwHat {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade-out-text {
  animation: fadeOutText 2.5s ease-in-out forwards;
}

@keyframes fadeOutText {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
